.registercard{
    /* width: 550px; */
    /* margin-top: 20px; */
    border-radius: 0px;
    box-shadow: none
}


.LoginBtn3{
    color:  rgb(0, 71, 71);
    background-color: white;
    border: 1.5px solid  rgb(0, 71, 71);
    border-radius: 10px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding: 8px 15px ;
    margin-right: 15px;
    font-weight: bold;
    outline: 0 !important;
}
.RegisterBtn3{
    color:  rgb(0, 71, 71);
    background-color: rgb(245, 218, 84);
    border: 1px solid  rgb(253, 236, 148);
    border-radius: 10px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding: 8px 20px ;
    margin-right: 15px;
    font-weight: bold;
    outline: 0 !important;
   
}
.sidebar{
    height: 45px;
    width: 15px;
    background-color: rgb(0, 71, 71);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.registerinput{
    height:45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(0, 71, 71);
    
}
.registerinput2{
    height: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgb(0, 71, 71);
    border-bottom: 1px solid rgb(0, 71, 71);
    border-right: 0px solid white;
}
.view2{
    /* margin-top: 7px; */
    padding: 8px 10px 10px 10px;
    border-top:1px solid rgb(0, 71, 71);
    border-right:1px solid rgb(0, 71, 71);
    border-bottom:1px solid rgb(0, 71, 71);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: rgb(0, 71, 71);
}
select{
    font-style: italic;
    opacity: 0.8;
    /* color: rgb(197, 193, 193); */
}

.country{
    width: 290px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(0, 71, 71);
    opacity: 1px;
}
@media only screen and (max-width: 1024px){
    .country{
        width: 160px;
    }
}
@media only screen and (max-width: 800px){
    .sidebar{
        height: 35px;
    }
    .registerinput{
        height: 35px;
    }
    .registerinput2{
        height: 35px;
    }
    .view2{
        font-size: 14px;
        padding: 3px 5px 2px 1px;
    }
    .country{
        width: 100px;
    }
}
@media only screen and (max-width: 420px){
    .country{
        width: 270px;
    }
}
@media only screen and (max-width: 400px){
    .country{
        width: 220px;
    }
    .toastmessage{
        width: 50%;
        float: right;
        top: 30px;
        right: 10px;
    }
}